{% extends 'base.html' %}
{% block content %}
    <div class="col-md-6 offset-md-3">
    {% if validlink %}
        <div class="profile-container">
            <div class="profile-header">
                <h1>Create Your New Password</h1>
            </div>
            <hr>
            <form method="POST" action="">
                {% csrf_token %} 
                <div class="grid-container">
                    <label>{{ form.new_password1.label }}</label>{{ form.new_password1 }}
                    <label>{{ form.new_password2.label }}</label>{{ form.new_password2 }}
                </div>
                {{ form.new_password2.help_text }}
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
    {% else %}
        <p>The password reset link has expired. Please try again.</p>
        <a class="btn btn-primary" href="{% url 'login' %}">Back to Login</a>
        <a class="btn btn-primary" href="{% url 'forgot_password' %}">Forgot Password</a>
    {% endif %}
    </div>
{% endblock %}