{% extends 'base.html' %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Form Error
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="col-md-6 offset-md-3 profile-container">
        <div class="profile-header">
            <h1> Login </h1>
        </div>
        <hr>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="grid-container">
                <label class="form-label">Email:</label>
                <input type="email" class="form-control" placeholder="Email" name="username">

                <label class="form-label">Password:</label>
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <br>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <a href="{% url 'forgot_password' %}">Forgot Password?</a>
        </form>
    </div>
    
{% endblock %}