<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Thesis Archive</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- CHECK IF USER IS LOGGED IN -->
          {% if user.is_authenticated %}
          <!-- LOGGED IN -->
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="nav-link" type="submit">Logout</button>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
          </li>
          {% else %}
          <!-- LOGGED OUT -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_registration' %}">Register</a>
          </li>
          {% endif %}
          
          {% if user.is_authenticated and user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Request
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'request_list' status_filter='Pending' %}">Pending Request</a></li>
              <li><a class="dropdown-item" href="{% url 'request_list' status_filter='Approved' %}">Approved Request</a></li>
              <li><a class="dropdown-item" href="{% url 'request_list' status_filter='Rejected' %}">Rejected Request</a></li>
            </ul>
          </li>
          {% endif %}

          {% if user.is_authenticated and user.is_staff %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Thesis
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'thesis_list' status_filter='pending' %}">Pending Thesis</a></li>
              <li><a class="dropdown-item" href="{% url 'thesis_list' status_filter='approved' %}">Approved Thesis</a></li>
              <li><a class="dropdown-item" href="{% url 'thesis_list' status_filter='rejected' %}">Rejected Thesis</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="nav-link" href="{% url 'thesis_publish' %}">Publish Thesis</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_list' %}">Accounts</a>
          </li>
          
          {% elif user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'thesis_publish' %}">Publish Thesis</a>
          </li>

          {% else %}
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'thesis_list' status_filter='approved' %}">Thesis List</a>
          </li>
          {% endif %}
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tags_list' %}">Tags List</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>