{% extends 'base.html' %}

{% block content %}
    <div class="col-md-10 offset-md-1">
        {% if user.is_authenticated %}
        <div class="welcome rounded bg-dark text-light">
            <h4>My Projects</h4>
            <p>Welcome, {{ user.first_name }} {{user.last_name}} </p>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 repo-card">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">TITLE</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-subtitle">Status:
                            <span class="badge rounded-pill bg-success">Approved</span>
                            <span class="badge rounded-pill bg-danger">Rejected</span>
                            <span class="badge rounded-pill bg-warning">Pending</span>
                        </p>
                        <p class="card-text">Submission Date: Mon. Dy , Year</p>
                        <a href="" class="btn btn-primary"><i class="fa-solid fa-eye"></i> View</a>
                        <a href="" class="btn btn-success"><i class="fa-solid fa-arrows-rotate"></i> Resubmit</a>
                        <a href="" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Delete</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 repo-card">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">TITLE</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-subtitle">Status:
                            <span class="badge rounded-pill bg-success">Approved</span>
                            <span class="badge rounded-pill bg-danger">Rejected</span>
                            <span class="badge rounded-pill bg-warning">Pending</span>
                        </p>
                        <p class="card-text">Submission Date: Mon. Dy , Year</p>
                        <a href="" class="btn btn-primary"><i class="fa-solid fa-eye"></i> View</a>
                        <a href="" class="btn btn-success"><i class="fa-solid fa-arrows-rotate"></i> Resubmit</a>
                        <a href="" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Delete</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 repo-card">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">TITLE</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-subtitle">Status:
                            <span class="badge rounded-pill bg-success">Approved</span>
                            <span class="badge rounded-pill bg-danger">Rejected</span>
                            <span class="badge rounded-pill bg-warning">Pending</span>
                        </p>
                        <p class="card-text">Submission Date: Mon. Dy , Year</p>
                        <a href="" class="btn btn-primary"><i class="fa-solid fa-eye"></i> View</a>
                        <a href="" class="btn btn-success"><i class="fa-solid fa-arrows-rotate"></i> Resubmit</a>
                        <a href="" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Delete</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 repo-card">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">TITLE</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-subtitle">Status:
                            <span class="badge rounded-pill bg-success">Approved</span>
                            <span class="badge rounded-pill bg-danger">Rejected</span>
                            <span class="badge rounded-pill bg-warning">Pending</span>
                        </p>
                        <p class="card-text">Submission Date: Mon. Dy , Year</p>
                        <a href="" class="btn btn-primary"><i class="fa-solid fa-eye"></i> View</a>
                        <a href="" class="btn btn-success"><i class="fa-solid fa-arrows-rotate"></i> Resubmit</a>
                        <a href="" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Delete</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    
{% endblock %}