{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-md-6 offset-md-3" oncontextmenu="return false">
        <hr>
        <h3>{{ thesis_obj.title }}</h3>
        <small>by: {{ thesis_obj.authors }}</small>
        <br>
        <button id="downloadButton" class="btn btn-success">Download</button>
        <br>
        <hr>
        <div class="wrapper">
            <embed src="{% get_media_prefix %}{{ pdf.pdf_file.name }}#view=FitH&toolbar=0&navpanes=0" type="application/pdf" id="thesis_box" style="width: 100%;min-height: 500px;border: none;"></embed>
        </div>
    </div>

    <script>
        document.getElementById('downloadButton').addEventListener('click', function() {
            // Trigger the download by navigating to the Django URL
            window.location.href = "{% url 'download' source='request' slug=pdf.slug %}";
        });
    </script>

{% endblock %}

{% load static %}
<script type="text/javascript" src="{% static 'reloadonfocus.js' %}"></script>
<script type="text/javascript" src="{% static 'windowblur.js' %}"></script>