{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8 offset-md-2">
        
        <h1>{{ status_filter }} Thesis Request List</h1>
        <form class="d-flex" role="search">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="searchInput" onkeyup="searchTable()">
          </form>
        <table class="table" id="dataTable">
            <thead>
                <tr>
                    <th onclick="sortTable(6)"><span class="sort-arrow" id="requestTitleArrow"></span>Title</th>
                    <th onclick="sortTable(7)"><span class="sort-arrow" id="petitionerArrow"></span>Petitioner</th>
                    <th onclick="sortTable(8)"><span class="sort-arrow" id="emailArrow"></span>Email</th>
                    <th onclick="sortTable(9)"><span class="sort-arrow" id="requestDateArrow"></span>Request Date</th>
                    <th>Decision</th>
                </tr>
            </thead>
            <tbody>
                {% for request in request_list %}
                    <tr>
                        <td>{{ request.title }}</td>
                        <td>{{ request.first_name }} {{ request.last_name }}</td>
                        <td>{{ request.email }}</td>
                        <td>{{ request.request_date.date }}</td>
                        <td>
                            <a href="{% url 'request_view' request.slug %}" class="btn btn-primary btn-sm">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% load static %}
    <script type="text/javascript" src="{% static 'javascript/datatable.js' %}"></script>

{% endblock %}